@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',Sans-Serif;
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 2px solid #c8d4d8; */
  border-radius: 15px;
  box-shadow: -8px -8px 10px rgba(255,255,255,1), 6px 6px 10px rgba(0,0,0,0.15);
}
header .logo {
  position: relative;
  max-width: 80px;
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  list-style: none;
}
header ul li a {
  display: inline-block;
  color: #333;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}

.content {
  position: relative;
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .contact {
  position: absolute;
  margin-top: 220px;
}
.content .contact h2 {
  padding: 5px;
  font-size: 1em;
  font-weight: 400;
  border-radius: 20px;
  border: 2px solid #017143;
}

.content .sosmed ul {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .sosmed ul li {
  list-style: none;
}
.content .sosmed ul li a {
  display: inline-block;
  margin-top: 10px;
}
.content .sosmed ul li a img {}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #017143;
  clip-path: circle(600px at right 800px);
}


/* glow text */

/* end glow text */

@media (max-width: 991px) {
  header {
    padding: 20px;
  }
  header .logo {
    max-width: 60px;
  }
  header ul {
    display: none;
  }
  header ul li a {
    font-size: 1.5em;
    margin: 5px 0;
  }
  .toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: URL(menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 11;
  }
  .toggle.active {
    position: fixed;
    right: 20px;
    background: URL(close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }
  header ul.navigation.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    z-index: 10;
  }
  section {
    padding: 20px 20px 200px;
  }

  .circle {
    clip-path: circle(200px at center bottom);
  }



}